@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: rgb(56, 48, 46);
    --secondary-color: rgb(243, 201, 139);
    --tertiary-color: #D33F49;
    --highlight-color: #ADAABF;
    --ascent-color: #E3D8F1;
}

body{
    padding: 0;
    margin: 0;
}

.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }



/* Navbar */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--primary-color);
    color: var(--secondary-color);
}

.logo{
    font-size: 2rem;
    font-family: 'Noto Serif', serif;
    color: var(--secondary-color);
    flex: flex-start;
    cursor: pointer;
}

.logo a{
    color: var(--secondary-color);
    text-decoration: none;
}

.logo span{
    color: var(--tertiary-color);
    font-weight: 900;
    font-size: 2.5rem;
}

ul{
    display: flex;
    justify-content: space-around;
    width: 50%;
    list-style: none;
}

ul a{
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Noto Serif', serif;
    list-style: none;
}

ul a:hover{
    color: var(--tertiary-color);
    transition: 300ms ease;
    border-bottom: 1px solid var(--ascent-color);
}

/* navbar end */

/* hero */
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(./images/pexels-ash-craig-122861-376464.jpg) no-repeat center bottom/cover;
    text-align: center;
}   

.header-title{
    backdrop-filter: blur(5px);
    padding: 30px;
    border-radius: 10px;
    line-height: 30px;
    background: rgba(253, 203, 155, 0.5);
    box-shadow: var(--primary-color) 1px 1px;
}

.hero h1{
    font-size: 5rem;
    font-family: 'Noto Serif', serif;
    color: var(--tertiary-color);
    text-decoration: underline;
    text-shadow: #ADAABF 1px 1px;
}

.hero h2{
    font-size: 3.5rem;
    font-family: 'Noto Serif', serif;
    color: var(--secondary-color);
    text-shadow: var(--primary-color) 3px 3px;
}

.hero p{
    font-size: 3rem;
    font-family: 'Noto Serif', serif;
    color: var(--primary-color);
    text-shadow: #ADAABF 1px 1px;
}

.See-menu{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-family: 'Noto Serif', serif;
    background: var(--tertiary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 300ms ease;
}

.See-menu:hover{
    background: var(--ascent-color);
    transition: 300ms ease;
    color: var(--tertiary-color);
    box-shadow: var(--primary-color) 1px 1px;
}

/* Menu start */
.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: var(--ascent-color);
    color: var(--primary-color);
    padding: 20px;
}

.menu h2{
    font-size: 4rem;
    font-family: 'Noto Serif', serif;
    color: var(--tertiary-color);
    text-shadow: var(--primary-color) 1px 1px;
}

.menu-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.menu-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--secondary-color);
    color: var(--primary-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--primary-color) 1px 1px;
    margin-left: 10px;
    min-height: 500px;
}

.menu-item img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: var(--primary-color) 1px 1px;
}

.menu-item h3{
    font-size: 2.5rem;
    font-family: 'Noto Serif', serif;
    color: var(--primary-color);
    text-shadow: var(--ascent-color) 1px 1px;
    text-align: center;
}

.menu-item p{
    font-size: 1.25rem;
    font-family: 'Noto Serif', serif;
    color: var(--primary-color);
    text-shadow: var(--ascent-color) 1px 1px;
    text-align: center;
}

.menu-item button{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-family: 'Noto Serif', serif;
    background: var(--tertiary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.menu-item button:hover{
    background: var(--ascent-color);
    transition: 300ms ease;
    color: var(--tertiary-color);
    box-shadow: var(--primary-color) 1px 1px;
}

/* Menu end */

/* About Us */
.about{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 20px;
    text-align: center;
}

.about h2{
    font-size: 4rem;
    font-family: 'Noto Serif', serif;
    color: var(--tertiary-color);
    text-shadow: var(--primary-color) 1px 1px;
}

.about h3{
    font-size: 3rem;
    font-family: 'Noto Serif', serif;
    color: var(--secondary-color);
    text-shadow: var(--primary-color) 1px 1px;
}

.about p a{
    color: var(--tertiary-color);
    text-decoration: none;
}

.about p{
    font-size: 2rem;
    font-family: 'Noto Serif', serif;
    color: var(--secondary-color);
    text-shadow: var(--primary-color) 1px 1px;
    text-align: center;
}

.about-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    color: var(--secondary-color);
}

.about-icon i{
    font-size: 1.2rem;
    color: var(--tertiary-color);
}

.about-icon span{
    font-size: 1.5rem;
    font-family: 'Noto Serif', serif;
    color: var(--tertiary-color);
}



/* About Us end */

/* Contact */

.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: var(--ascent-color);
    color: var(--primary-color);
    padding: 20px;
    text-align: center;
}

.contact h2{
    font-size: 4rem;
    font-family: 'Noto Serif', serif;
    color: var(--tertiary-color);
    text-shadow: var(--primary-color) 1px 1px;
}

.contact h3{
    font-size: 3rem;
    font-family: 'Noto Serif', serif;
    color: var(--secondary-color);
    text-shadow: var(--primary-color) 1px 1px;
}


.contact-info{
    border: #ADAABF 1px solid;
    padding: 0 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: 'Noto Serif', serif;
    cursor: pointer;
    backdrop-filter: blur(5px);
    box-shadow: var(--primary-color) 1px 1px;
    margin: 20px;
}

.contact-info:hover{
    background: var(--tertiary-color);
    color: var(--secondary-color);
    transition: 300ms ease;
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 20px;
    text-align: center;
}

.contact-form input{
    padding: 10px;
    margin: 10px;
    width: 50%;
    font-size: 1.5rem;
    font-family: 'Noto Serif', serif;
    border: none;
    border-radius: 10px;
    box-shadow: var(--primary-color) 1px 1px;
}

.contact-form textarea{
    padding: 10px;
    margin: 10px;
    width: 50%;
    font-size: 1.5rem;
    font-family: 'Noto Serif', serif;
    border: none;
    border-radius: 10px;
    box-shadow: var(--primary-color) 1px 1px;
}

.contact-form button{
    padding: 10px 20px;
    font-size: 1.5rem;
    font-family: 'Noto Serif', serif;
    background: var(--tertiary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.contact-form button:hover{
    background: var(--ascent-color);
    transition: 300ms ease;
    color: var(--tertiary-color);
    box-shadow: var(--primary-color) 1px 1px;
}

/* Contact end */